## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Clyde River,CA,70.4692,-68.5914,10.49,89,89,1.10,overcast clouds
1,1,Milkovo,RU,54.7167,158.6167,11.88,86,8,4.85,clear sky
2,2,Burnie,AU,-41.0667,145.9167,55.81,74,80,4.79,broken clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,44.22,81,40,5.75,scattered clouds
4,4,Hartford,US,41.7668,-72.7662,48.25,67,0,3.00,clear sky

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
5,5,Carnarvon,AU,-24.8667,113.6333,78.87,83,75,12.66,broken clouds
8,8,Chateaubelair,VC,13.2833,-61.2500,82.92,61,20,13.80,few clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,83.84,69,23,6.55,few clouds
10,10,Manoharpur,IN,27.3000,75.9500,85.26,5,1,6.33,clear sky
13,13,Puerto Ayora,EC,-0.7393,-90.3518,80.56,81,78,9.93,broken clouds
16,16,Atuona,PF,-9.8000,-139.0333,79.52,70,87,21.56,overcast clouds
27,27,Rikitea,PF,-23.1203,-134.9692,75.99,65,34,9.04,scattered clouds
29,29,Alta Floresta,BR,-9.8756,-56.0861,85.82,70,40,3.44,scattered clouds
31,31,Bo Phloi,TH,14.3236,99.5161,76.32,57,61,5.73,broken clouds
32,32,Banjar,ID,-8.1900,114.9675,77.54,90,89,3.06,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
5,5,Carnarvon,AU,-24.8667,113.6333,78.87,83,75,12.66,broken clouds
8,8,Chateaubelair,VC,13.2833,-61.2500,82.92,61,20,13.80,few clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,83.84,69,23,6.55,few clouds
10,10,Manoharpur,IN,27.3000,75.9500,85.26,5,1,6.33,clear sky
13,13,Puerto Ayora,EC,-0.7393,-90.3518,80.56,81,78,9.93,broken clouds
...,...,...,...,...,...,...,...,...,...,...
689,689,Parauna,BR,-16.9478,-50.4486,81.39,56,1,6.35,clear sky
690,690,Lubuk Pakam,ID,3.5604,98.8767,78.94,93,100,4.92,overcast clouds
694,694,Palmerston,AU,-12.4860,130.9833,80.58,89,10,4.61,clear sky
695,695,Ribas Do Rio Pardo,BR,-20.4431,-53.7592,84.43,59,19,9.89,few clouds
697,697,Sibu,MY,2.3000,111.8167,75.51,94,40,2.30,heavy intensity rain

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,
8,Chateaubelair,VC,82.92,few clouds,13.2833,-61.2500,
9,Hithadhoo,MV,83.84,few clouds,-0.6000,73.0833,
10,Manoharpur,IN,85.26,clear sky,27.3000,75.9500,
13,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,
16,Atuona,PF,79.52,overcast clouds,-9.8000,-139.0333,
27,Rikitea,PF,75.99,scattered clouds,-23.1203,-134.9692,
29,Alta Floresta,BR,85.82,scattered clouds,-9.8756,-56.0861,
31,Bo Phloi,TH,76.32,broken clouds,14.3236,99.5161,
32,Banjar,ID,77.54,overcast clouds,-8.1900,114.9675,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}


# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))